.h-wrapper{
    color: #fff;
    z-index: 99;
}
.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}
.h-container .brand{
    min-width: 160px;
}

.h-menu{
    gap:  2rem;
}
.h-menu>*:hover{
    cursor: pointer;
}

.menu-icon{
    display: none;
}

@media(max-width: 768px){
    .menu-icon{
        display: block;
    }
    .h-menu{
        color: #000000;
        position: absolute;
        gap: 2rem;
        font-weight: 500;
        flex-direction: column;
        right: 4rem;
        top: 3rem;
        background: white;
        display: flex;
        border-radius: 10px;
        align-items: flex-start;
        padding: 3rem 2rem;
        box-shadow: 0 4px 4px #0000000d;
        transition: all .3s ease;
        z-index: 99;
    }
    .h-menu a{  
        color: #000000;
    }
    .h-menu .btn{  
        color: #ffffff;
    }
}
